<div class="container-table mt-4">
  <h2>List movies</h2>

  <ng-container *ngIf="!loading">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th class="text-center align-middle">ID</th>
          <th class="text-center">
            Year
            <input type="text" class="form-control form-control-sm mt-1"
                   [formControl]="yearFilter" placeholder="Filter by year">
          </th>
          <th class="text-center align-middle">Title</th>
          <th class="text-center">
            Winner?
            <select class="form-control form-control-sm mt-1" [formControl]="winnerFilter">
              <option value="">Yes/No</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.id }}</td>
          <td>{{ movie.year }}</td>
          <td>
            {{ movie.title }}
          </td>
          <td>
            {{ movie.winner ? 'Yes' : 'No' }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <app-pagination
      [configPagination]="{currentPage: page, totalRecordsPerPage: pageSize, totalRecords: collectionSize}"
      (changePage)="onPageChange($event)">
    </app-pagination>
  </ng-container>

  <ng-container *ngIf="loading">
    <app-skeleton-loading
      [type]="'table'"
      [totalRepeat]="4">
    </app-skeleton-loading>
  </ng-container>

  <ng-container *ngIf="!movies.length && !loading">
    <div class="alert alert-info">
      No movies found matching the selected filters.
    </div>
  </ng-container>
</div>
