.container-table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0 0 20px;
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .input-group {
    margin-bottom: 20px;

    .btn-search {
      background: var(--bs-primary);
      color: #fff;
    }
  }

  .table {
    margin-bottom: 0;
  }
}
